extends layout/default

block scripts

append content
  .ui.button.enormous Enormous

  p

  a.ui.button.enormous Enormous

  p

  button.ui.button.enormous Enormous

  p

  .ui.button.enormous.compact Compact

  p

  a.ui.button.enormous.compact Compact

  p

  button.ui.button.enormous.compact Compact
